@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
/* banner section */
.banner-container{
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(./images/Banner\ Image.png);
    /* margin:50px 140px 120px 140px ; */
    margin: 0 auto;
    border-radius: 16px;
    max-height: 600px;
    height: 600px;
    width: 1320px;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.banner-content .banner-subtitle{
color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 400;
line-height: 40px;
text-align: center;
}
.banner-content .banner-title{
 color: rgb(255, 255, 255);
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}
/*Discount section  */
#discount-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 65px;
    justify-content: center;
    align-items: center;
}
.discount-subtitle{
color: rgb(255, 0, 0);
font-size: 60px;
font-weight: 700;
line-height: 107px;
}
.discount-paragraph{
color: rgb(255, 0, 0);
font-size: 20px;
font-weight: 500;
line-height: 29px;
}
.discount-title{
color: rgb(7, 2, 17);
font-size: 30px;
font-weight: 700;
line-height: 58px;
}
.discount-img-container{
    max-width: 802px;
    margin-top: 40px;
}
.discount-img-container img{
width: 100%;
}
/* midnight section */
#midnight-container{
    border-radius: 16px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    max-height: 600px;
    height: 600px;
    width: 1320px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midnight-content{
    display: flex;
    align-items: center;
    margin:90px ;
   
}
.midnight-sub-content{
    width: 50%;
    margin-right: 40px;
}
.welcome{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}
.midnight-paragraph{
color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
padding-top:14px;
margin-right: 30px;
}
.midnight-btn{
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;
text-transform: uppercase;
background-color:transparent;
border: none;
margin-top:35px ;

}
.midnight-btn a{
    text-decoration: none;
    color: white;
   
}
.midnight-img-container{
width: 50%;
}
.midnight-img-container img{
    margin-left: 180px;
}
/* new park section */
.new-park-container{
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 0 auto;
    max-height: 600px;
    height: 482px;
    width: 1320px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.new-park-container h6{
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;

}
.new-park-container span{
    color: rgb(255, 0, 0);
}
.new-btn{
border-radius: 8px;
background: rgb(255, 0, 0);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
padding: 11px 27px 11px 27px;
}